* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #30a5ca;
  background: linear-gradient(
      0deg,
      rgba(48, 165, 202, 0.58),
      rgba(48, 165, 202, 0.58)
    ),
    url(./Images/backgroundimageblack.png);
  background-blend-mode: overlay, normal;
  background-repeat: no-repeat;
}

/* menu style */
/* header section */

header {
  padding: 0 3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

/* left menu */

header nav .left-side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4vh;
}

header nav .left-side-menu .logo {
  min-width: 10vw;
  position: fixed;
  margin-top: 10vh;
}

/* middle menu */

header nav .middle-menu {
  display: flex;
  text-align: center;
  min-width: 30vw;
  position: fixed;
  margin-left: 32vw;
  margin-top: 13vh;
}

header nav .middle-menu a {
  margin-right: 4rem;
  text-decoration: none;
  color: white;
}

header nav .middle-menu a li {
  list-style-type: none;
}

/* right menu */

header .right-side-menu {
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 60px;
  height: 7vh;
  box-sizing: border-box;
  padding: 1.9vh 1.3vw;
  position: fixed;
  margin-top: 12vh;
  margin-left: 85vw;
}

header .right-side-menu .right-menu a {
  word-spacing: 1vw;
  text-decoration: none;
}

#logo1 {
  height: 2vh;
}

#logo2 {
  height: 2vh;
}

/* header second */

.header2 {
  display: flex;
  color: white;
  margin-top: 11vh;
}

#header2 {
  min-width: 45vw;
  padding: 60px 50px;
  margin-top: 35px;
  margin-left: 4vw;
}

.heading {
  line-height: 12vh;
  font-size: 80px;
  font-weight: 500;
  margin-top: 12vh;
}

.paragraph2 {
  max-width: 38vw;
  padding: 5px;
  margin-top: 3vh;
  font-size: 20px;
}

/* input button */

.input {
  display: inline-flex;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 5vh;
  border-radius: 50px;
  min-width: 32.3vw;
}

#email {
  color: white;
  border: transparent;
  outline: none;
  background-color: transparent;
  height: 3vh;
  margin-top: 3.3vh;
  margin-left: 2.5vw;
}

.line {
  margin-left: 4vw;
  margin-top: 1.5vh;
  height: 8vh;
}

#owner {
  margin-left: 3vw;
  margin-top: 3.3vh;
}

.droparrow {
  position: relative;
  margin-left: 0.5vw;
  margin-top: 3.3vh;
}

#circle {
  margin-top: 0.6vh;
  margin-left: 2vw;
}

#arrow {
  margin-left: -2.6vw;
  margin-top: 3.5vh;
}

/* right side header second */

.kong {
  max-width: 50vw;
  margin-left: -2%;
}

#kongimg {
  position: relative;
  max-width: 58vw;
  margin-left: -20%;
  margin-top: 9%;
}

.line1 {
  position: absolute;
  width: 243px;
  height: 86px;
  left: 46vw;
  top: 53.5vh;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
  border-radius: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: luminosity;
}

.line2 {
  position: absolute;
  width: 240px;
  height: 86px;
  left: 76vw;
  top: 40vh;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
  border-radius: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: luminosity;
}

.line3 {
  position: absolute;
  width: 240px;
  height: 86px;
  left: 47.5vw;
  top: 80vh;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
  border-radius: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: luminosity;
}

.line4 {
  position: absolute;
  width: 180px;
  height: 86px;
  left: 77vw;
  top: 75vh;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
  border-radius: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: luminosity;
}

#coin1 {
  position: absolute;
  width: 9.5vw;
  height: 20.3vh;
  left: 64vw;
  top: 74vh;
}

#coin2 {
  position: absolute;
  width: 8.5vw;
  height: 17vh;
  left: 65vw;
  top: 93vh;
}

#coin3 {
  position: absolute;
  width: 5.5vw;
  height: 12vh;
  left: 71.5vw;
  top: 96.8vh;
}

/* middle section */

.roadmap {
  display: grid;
  grid-template-columns: 15% 10% 25% 45% 5%;
  color: white;
  margin-top: 3%;
}

.column2 {
  grid-area: 1 / 2 / 2 / 4;
}

.column2-h1 {
  font-size: 80px;
  padding-top: 10%;
  padding-left: 8%;
}

#column2-p {
  padding-left: 9%;
  font-size: 19px;
  font-weight: 200;
}

.column3 {
  grid-area: 1 / 4 / 3 / 5;
}

#column3-img {
  margin-top: 8%;
  margin-left: 10%;
  background: radial-gradient(
    41.76% 41.76% at 50% 50%,
    rgba(0, 56, 255, 0.24) 0%,
    rgba(0, 133, 255, 0) 100%
  );
}

.column5 {
  grid-area: 2 / 2;
}

#column6-img {
  background-color: white;
  border-radius: 30px;
  padding: 16% 25%;
  margin-left: 55%;
  margin-top: 38%;
}

.column7 {
  padding-top: 20%;
}

.column7-h1 {
  font-size: 80px;
  font-weight: 200;
}

.column7-h3 {
  font-size: 33px;
  color: #15c4c6;
}

#column7-p {
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.39);
  mix-blend-mode: luminosity;
}

/* road map section2 */

.roadmap2 {
  display: grid;
  grid-template-columns: 50% 25% 15% 10%;
  color: white;
  border: 1px solid white;
}

.column1rm2 {
  border: 1px solid white;
}

.column2rm2 {
  border: 1px solid white;
  text-align: end;
  padding-right: 2vw;
}

.column2rm2-h1 {
}

.column2rm2-h3 {
}

#column2rm2-p {
}

.column3rm2 {
  border: 1px solid white;
}

#column3rm2-img {
  background: rgba(29, 51, 64, 0.45);
  backdrop-filter: blur(80px);
  border-radius: 30px;
  padding: 7% 22%;
  margin-top: 10%;
}

.column4rm2 {
  border: 1px solid white;
}

/* footer section */

footer {
  display: grid;
  border-top: 3px solid rgba(255, 255, 255, 0.21);
  padding: 5vh;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

/* footer left */

.footerleft {
  display: flex;
  color: white;
  column-gap: 8vw;
}

.footer1 p {
  line-height: 10vh;
  font-size: 20px;
  font-weight: 500;
}

.footer1 ul li {
  color: white;
  list-style-type: none;
  line-height: 5vh;
}

.footer1 ul a {
  text-decoration: none;
}

.footer2 p {
  line-height: 10vh;
  font-size: 20px;
  font-weight: 500;
}

.footer2 ul li {
  color: white;
  list-style-type: none;
  line-height: 5vh;
}

.footer2 ul a {
  text-decoration: none;
}

.footer3 p {
  line-height: 10vh;
  font-size: 20px;
  font-weight: 500;
}

.footer3 ul li {
  color: white;
  list-style-type: none;
  line-height: 5vh;
}

.footer3 ul a {
  text-decoration: none;
}

/* footer right */

.footerright {
  margin-top: 0.5vh;
}

#a1 {
  line-height: 10vh;
  font-size: 15px;
  color: #5865f2;
  text-decoration: none;
}

#a1 span {
  margin-left: 0.5rem;
}

.fgamepadblue {
  margin-left: -10rem;
}

#a2 {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
#a2 span {
  margin-left: 0.8rem;
}

.fmobile {
  margin-left: -9.8rem;
  height: 25px;
}

.ftwitter {
  line-height: 13vh;
  margin-left: -10rem;
}

.fgamepadwhite {
  margin-left: 1rem;
}

/* footer bottom */

.copyright {
  color: white;
  text-align: center;
  font-weight: 300;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.discord {
  background-color: white;
  border-radius: 50%;
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  text-align: center;
  padding: 5vh 1vw 5vh 1vw;
}

.discord p {
  font-weight: bold;
}
