* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #30a5ca;
  background: linear-gradient(
      0deg,
      rgba(48, 165, 202, 0.58),
      rgba(48, 165, 202, 0.58)
    ),
    url(./Images/backgroundimageblack.png);
  background-blend-mode: overlay, normal;
  background-repeat: no-repeat;
}

/* menu style */

header {
  padding: 0 3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

/* left menu */

header nav .left-side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4vh;
}

header nav .left-side-menu .logo {
  min-width: 10vw;
}

/* middle menu */

header nav .middle-menu {
  display: flex;
  text-align: center;
  min-width: 30vw;
}

header nav .middle-menu a {
  margin-right: 4rem;
  text-decoration: none;
  color: white;
}

header nav .middle-menu a li {
  list-style-type: none;
}

/* right menu */

header .right-side-menu {
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 60px;
  height: 7vh;
  box-sizing: border-box;
  padding: 1.9vh 1.3vw;
}

header .right-side-menu .right-menu a {
  word-spacing: 1vw;
  text-decoration: none;
}

#logo1 {
  height: 2vh;
}

#logo2 {
  height: 2vh;
}

/* header second */

.header2 {
  display: flex;
  color: white;
  margin-top: 11vh;
}

#header2 {
  min-width: 45vw;
  padding: 60px 50px;
  margin-top: 35px;
  margin-left: 4vw;
}

.heading {
  line-height: 12vh;
  font-size: 80px;
  font-weight: 500;
}

.paragraph2 {
  max-width: 38vw;
  padding: 5px;
  margin-top: 3vh;
  font-size: 20px;
}

/* input button */

.input {
  display: inline-flex;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 5vh;
  border-radius: 50px;
  min-width: 32.3vw;
}

#email {
  color: white;
  border: transparent;
  outline: none;
  background-color: transparent;
  height: 3vh;
  margin-top: 3.3vh;
  margin-left: 2.5vw;
}

.line {
  margin-left: 4vw;
  margin-top: 1.5vh;
  height: 8vh;
}

#owner {
  margin-left: 3vw;
  margin-top: 3.3vh;
}

.droparrow {
  position: relative;
  margin-left: 0.5vw;
  margin-top: 3.3vh;
}

#circle {
  margin-top: 0.6vh;
  margin-left: 2vw;
}

#arrow {
  margin-left: -2.6vw;
  margin-top: 3.5vh;
}

/* right side header second */

.kong {
  min-width: 50vw;
}

#kongimg {
  position: relative;
  max-width: 60vw;
  margin-left: -20%;
  margin-top: -6%;
}

.line1 {
  position: absolute;
  width: 243px;
  height: 86px;
  left: 47vw;
  top: 50vh;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
  border-radius: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: luminosity;
}

.line2 {
  position: absolute;
  width: 240px;
  height: 86px;
  left: 77.5vw;
  top: 37.2vh;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
  border-radius: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: luminosity;
}

.line3 {
  position: absolute;
  width: 240px;
  height: 86px;
  left: 48.5vw;
  top: 78vh;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
  border-radius: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: luminosity;
}

.line4 {
  position: absolute;
  width: 180px;
  height: 86px;
  left: 78.5vw;
  top: 72vh;
  padding-left: 25px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(80px);
  border-radius: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: luminosity;
}

#coin1 {
  position: absolute;
  width: 10vw;
  height: 20.3vh;
  left: 65vw;
  top: 71.5vh;
}

#coin2 {
  position: absolute;
  width: 9vw;
  height: 18.5vh;
  left: 66vw;
  top: 90vh;
}

#coin3 {
  position: absolute;
  width: 5.5vw;
  height: 13vh;
  left: 72.9vw;
  top: 94.2vh;
}

/* footer */

footer {
  display: grid;
  border-top: 3px solid rgba(255, 255, 255, 0.21);
  padding: 5vh;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

/* footer left */

.footerleft {
  display: flex;
  color: white;
  column-gap: 8vw;
}

.footer1 p {
  line-height: 10vh;
  font-size: 20px;
  font-weight: 500;
}

.footer1 ul li {
  color: white;
  list-style-type: none;
  line-height: 5vh;
}

.footer1 ul a {
  text-decoration: none;
}

.footer2 p {
  line-height: 10vh;
  font-size: 20px;
  font-weight: 500;
}

.footer2 ul li {
  color: white;
  list-style-type: none;
  line-height: 5vh;
}

.footer2 ul a {
  text-decoration: none;
}

.footer3 p {
  line-height: 10vh;
  font-size: 20px;
  font-weight: 500;
}

.footer3 ul li {
  color: white;
  list-style-type: none;
  line-height: 5vh;
}

.footer3 ul a {
  text-decoration: none;
}

/* footer right */

.footerright {
  margin-top: 0.5vh;
}

#a1 {
  line-height: 10vh;
  font-size: 15px;
  color: #5865f2;
  text-decoration: none;
}

#a1 span {
  margin-left: 0.5rem;
}

.fgamepadblue {
  margin-left: -10rem;
}

#a2 {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
#a2 span {
  margin-left: 0.5rem;
}

.fmobile {
  margin-left: -9.8rem;
  height: 25px;
}

.ftwitter {
  line-height: 13vh;
  margin-left: -10rem;
}

.fgamepadwhite {
  margin-left: 1rem;
}
