* {
  font-family: "Poppins", sans-serif;
}

.dropdown {
  display: flex;
}

.navimg {
  width: 162.5px;
  margin-left: 119px;
  padding-top: 4px;
}

.center {
  margin-top: 2.5vh;
  margin-left: 20vw;
  font-weight: 550;
  font-size: 1em;
  opacity: 1;
  color: rgb(123, 122, 122);
  cursor: pointer;
}

.insights {
  display: none;
  position: absolute;
  top: 7vh;
  background-color: white;
  z-index: 1;
  width: 150px;
  box-shadow: 4px 4px 10px 4px lightgrey;
}

#insights:hover {
  color: black;
}

.list {
  display: inline-block;
  position: relative;
}
.list:hover .insights {
  display: block;
}
.li {
  padding: 5px;
  padding-left: 8.5px;
  text-decoration: none;
}
.li:hover {
  background-color: rgb(230, 229, 229);
}

.center2 {
  margin-top: 2.5vh;
  margin-left: 5vw;
  font-weight: 550;
  font-size: 1em;
  opacity: 1;
  color: rgb(123, 122, 122);
  cursor: pointer;
}

.services {
  display: none;
  position: absolute;
  top: 7vh;
  background-color: white;
  z-index: 1;
  width: 150px;
  box-shadow: 4px 4px 10px 4px lightgrey;
}

#services:hover {
  color: black;
}

.list2 {
  display: inline-block;
  position: relative;
}

.list2:hover .services {
  display: block;
}

.li2 {
  padding: 5px;
  padding-left: 8.5px;
}

.li2:hover {
  background-color: rgb(230, 229, 229);
}

.center3 {
  margin-top: 2.5vh;
  margin-left: 5vw;
  font-weight: 550;
  font-size: 1em;
  opacity: 1;
  color: rgb(123, 122, 122);
  cursor: pointer;
}

.essence {
  display: none;
  position: absolute;
  top: 40px;
  background-color: white;
  z-index: 1;
  width: 150px;
  box-shadow: 4px 4px 10px 4px lightgrey;
}

#essence:hover {
  color: black;
}

.list3 {
  display: inline-block;
  position: relative;
}

.list3:hover .essence {
  display: block;
}

.li3 {
  padding: 5px;
  padding-left: 8.5px;
}

.li3:hover {
  background-color: rgb(230, 229, 229);
}

.center4 {
  margin-top: 2.5vh;
  margin-left: 5vw;
  font-weight: 550;
  font-size: 1em;
  opacity: 1;
  color: rgb(123, 122, 122);
  cursor: pointer;
}

.careers {
  display: none;
  position: absolute;
  top: 40px;
  background-color: white;
  z-index: 1;
  width: 150px;
}

#careers:hover {
  color: #0a58ca;
}

.list4 {
  display: inline-block;
  position: relative;
}

.list4:hover .careers {
  display: block;
}

.center5 {
  margin-top: 2.5vh;
  margin-left: 5vw;
  font-weight: 550;
  font-size: 1em;
  opacity: 1;
  color: rgb(123, 122, 122);
  cursor: pointer;
}

.company {
  display: none;
  position: absolute;
  top: 40px;
  background-color: white;
  z-index: 1;
  width: 150px;
}

#company:hover {
  color: #0a58ca;
}

.list5 {
  display: inline-block;
  position: relative;
}

.list5:hover .company {
  display: block;
}

.center6 {
  margin-top: 4vh;
  margin-left: 4vw;
  color: rgb(123, 122, 122);
}

.reorder {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 10px 29px 10px;
  opacity: 1;
  margin-top: 28px;
  margin-left: 565px;
  height: 5px;
  cursor: pointer;
}

.rightbutton {
  height: 39px;
  width: 147.42px;
  border: none;
  border-radius: 25.5px;
  background-color: #2d4195;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
}

.rightbutton:hover {
  background-color: #1f2d64;
}

.mainimg {
  margin-top: 86px;
  margin-left: 5px;
  height: 495px;
  width: 1495px;
}

.main {
  padding-top: 130px;
}

.mainh1 {
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 100px;
  margin-top: 138px;
  margin-left: 103px;
  max-width: 670px;
  line-height: 1.2em;
  animation-name: heading;
  animation-duration: 1.5s;
}

@keyframes heading {
  from {
    opacity: 0;
    margin-left: 0px;
  }
  to {
    opacity: 1;
    margin-left: 103px;
  }
}
.mainp {
  position: absolute;
  top: 250px;
  margin-top: 155px;
  margin-left: 103px;
  max-width: 450px;
  line-height: 1.8em;
  font-weight: 500;
  animation-name: pera;
  animation-duration: 1.5s;
}
@keyframes pera {
  from {
    opacity: 0;
    margin-left: 0px;
  }
  to {
    opacity: 1;
    margin-left: 103px;
  }
}

.mainbutton {
  height: 55px;
  width: 180px;
  position: absolute;
  top: 320px;
  margin-top: 230px;
  border: none;
  border-radius: 25.5px;
  background-color: #2d4195;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  margin-left: 103px;
  line-height: 25px;
  letter-spacing: 0.7px;
  outline: none;
  animation-name: btn;
  animation-duration: 1.5s;
}

@keyframes btn {
  from {
    opacity: 0;
    margin-left: 0px;
  }
  to {
    opacity: 1;
    margin-left: 103px;
  }
}
.mainbutton:hover {
  background-color: #1f2d64;
}

.mainh2p2 {
  text-align: center;
}
.mainh2 {
  font-size: 2.5em;
}

.grid {
  padding: 100px 20px 0px 10px;
  display: grid;
  grid-template-columns: 450px 450px 450px;
  margin-right: 50px;
  margin-left: 70px;
}

.column {
  padding: 20px 0px 0px 10px;
  height: 330px;
  border-right: 1px solid rgb(234, 234, 234);
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.columnimg {
  margin-top: 40px;
  height: 85px;
  width: 70px;
  line-height: 1.3em;
}

.columnh1 {
  color: #2d4195;
  margin-top: -5px;
  max-width: 300px;
  font-weight: 550;
  font-size: 28px;
  line-height: 1.3em;
}

.columnp {
  max-width: 400px;
  font-size: 16px;
  font-weight: 500;
}

.column2 {
  padding: 20px 10px 0px 20px;
  height: 330px;
  border-right: 1px solid rgb(234, 234, 234);
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.columnimg2 {
  margin-top: 40px;
  height: 65px;
  width: 90px;
}

.columnh2 {
  color: #2d4195;
  margin-top: 10px;
  max-width: 300px;
  font-weight: 550;
  font-size: 28px;
  line-height: 1.3em;
}

.columnp2 {
  margin-top: 23.5px;
  max-width: 400px;
  font-size: 16px;
  font-weight: 500;
}

.column3 {
  padding: 20px 20px 0px 20px;
  height: 330px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.columnimg3 {
  margin-top: 40px;
  height: 80px;
  width: 80px;
}

.columnh3 {
  color: #2d4195;
  max-width: 250px;
  font-weight: 550;
  font-size: 28px;
  line-height: 1.3em;
  margin-top: -5px;
}

.columnp3 {
  margin-top: 20px;
  max-width: 400px;
  font-size: 16px;
  font-weight: 500;
}

.column4 {
  padding: 20px 0px 0px 10px;
  height: 330px;
  border-right: 1px solid rgb(234, 234, 234);
  cursor: pointer;
}

.columnimg4 {
  margin-top: 40px;
  height: 75px;
  width: 80px;
  line-height: 1.3em;
}

.columnh4 {
  color: #2d4195;
  margin-top: -5px;
  max-width: 250px;
  font-weight: 550;
  font-size: 28px;
  line-height: 1.3em;
}

.columnp4 {
  max-width: 400px;
  font-size: 16px;
  font-weight: 500;
}

.column5 {
  padding: 20px 10px 0px 20px;
  height: 330px;
  border-right: 1px solid rgb(234, 234, 234);
  cursor: pointer;
}

.columnimg5 {
  margin-top: 40px;
  height: 65px;
  width: 70px;
}

.columnh5 {
  color: #2d4195;
  margin-top: 1px;
  max-width: 330px;
  font-weight: 550;
  font-size: 28px;
  line-height: 1.3em;
}

.columnp5 {
  margin-top: 20px;
  max-width: 400px;
  font-size: 16px;
  font-weight: 500;
}

.column6 {
  padding: 20px 20px 0px 20px;
  height: 330px;
  cursor: pointer;
}

.columnimg6 {
  margin-top: 30px;
  height: 80px;
  width: 75px;
}

.columnh6 {
  color: #2d4195;
  max-width: 250px;
  font-weight: 550;
  font-size: 28px;
  line-height: 1.3em;
  margin-top: -5px;
}

.columnp6 {
  margin-top: 20px;
  max-width: 400px;
  font-size: 16px;
  font-weight: 500;
}
.middleh1upper {
  text-align: center;
}
.middleh1 {
  font-size: 2em;
  font-weight: 550;
}

.middle {
  display: flex;
  column-gap: 20px;
  margin-left: 100px;
  height: 500px;
}

.middlecolumn1 {
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  width: 180px;
  border: none;
  background: linear-gradient(180deg, #2f3a77, #272b44);
  transition-delay: 0.2s;
  transition: 0.2s;
}

.middlecolumn1:hover {
  width: 725px;
}

.middleh {
  font-size: 25px;
  color: white;
}

.link1 {
  color: #0c60de;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.2;
}

.middlecolumn2 {
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  width: 180px;
  border: none;
  background: linear-gradient(180deg, #3ba4e2, #1d75dc);
  transition-delay: 0.2s;
  transition: 0.2s;
}

.middlecolumn2:hover {
  width: 725px;
}

.middleh2 {
  font-size: 25px;
  color: white;
}

.link2 {
  color: #0c60de;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.5;
}

.middlecolumn3 {
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  width: 180px;
  border: none;
  background: linear-gradient(180deg, #f1dc63, #e0ba34);
  transition: 0.2s;
  transition-delay: 0.2s;
}

.middlecolumn3:hover {
  width: 725px;
}

.middleh3 {
  font-size: 25px;
  color: white;
}

.link3 {
  color: #0c60de;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.5;
}

.footer {
  display: flex;
  margin-top: 130px;
}

.footercolumnleft {
  margin-left: 10vw;
  width: 30vw;
  animation-name: footercolumnleft;
  animation-duration: 2s;
}

@keyframes footercolumnleft {
  from {
    opacity: 0;
    margin-left: 0px;
  }
  to {
    opacity: 1;
    margin-left: 10vw;
  }
}

.footerlefth4 {
  color: #b4b6bd;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 3px;
}

.footerleftp {
  color: #272727;
  margin-top: -5px;
  font-size: 25px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0;
}

.footerlefth1 {
  width: 470px;
  margin-top: -30px;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0;
}

.footerlefth6 {
  color: #898989;
  width: 470px;
  margin-top: -5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
}

.footerleftbutton {
  border: none;
  border-radius: 25.5px;
  color: white;
  background-color: #f4cf4e;
  height: 50px;
  width: 260px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.7px;
  line-height: 25px;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

.footerleftbutton:hover {
  background-color: #b59a3b;
}

.footer2 {
  width: 650px;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 150px;
}

.footercolumnright {
  width: 300px;
}

.footerrightp {
  color: #272727;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0;
}

.footerrighth6 {
  color: #898989;
  width: 480px;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  margin-top: 0px;
}

.footercolumnright2 {
  width: 300px;
}

.footerrightp2 {
  color: #272727;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0;
}

.footerright2h6 {
  color: #898989;
  width: 460px;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  margin-top: 0px;
}

.footercolumnright3 {
  width: 350px;
}

.footerrightp3 {
  color: #272727;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0;
}

.footerright3h6 {
  color: #898989;
  width: 460px;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  margin-top: 0px;
}

.hr {
  opacity: 0.4;
  margin-top: 55px;
  margin-left: 100px;
  margin-right: 90px;
}

.last {
  display: flex;
  margin-left: 130px;
}

#insights1 {
  color: #b4b6bd;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
}

.ArtificialIntelligence {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
}

.ArtificialIntelligence:hover {
  color: #0a58ca;
}

.AR {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.AR:hover {
  color: #0a58ca;
}

.BlockchainDevelopment {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.BlockchainDevelopment:hover {
  color: #0a58ca;
}

.MachineLearning {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.MachineLearning:hover {
  color: #0a58ca;
}

.class2 {
  margin-left: 70px;
}

#services2 {
  color: #b4b6bd;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
}

.CustomAppDevelopment {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
}

.CustomAppDevelopment:hover {
  color: #0a58ca;
}

.DigitalTransformation {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.DigitalTransformation:hover {
  color: #0a58ca;
}

.EnterpriseMobility {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.EnterpriseMobility:hover {
  color: #0a58ca;
}

.ExperienceDesign {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.ExperienceDesign:hover {
  color: #0a58ca;
}

.AugmentationConsulting {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.AugmentationConsulting:hover {
  color: #0a58ca;
}

.QualityAssurance {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.QualityAssurance:hover {
  color: #0a58ca;
}

.TechnologyConsulting {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.TechnologyConsulting:hover {
  color: #0a58ca;
}

.class3 {
  margin-left: 70px;
}

#essence3 {
  color: #b4b6bd;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
}

.AgileMethodology {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
}

.AgileMethodology:hover {
  color: #0a58ca;
}

.class4 {
  margin-left: 70px;
}

#resources4 {
  color: #b4b6bd;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
}

.Careers {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
}

.Careers:hover {
  color: #0a58ca;
}

.Company {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.Company:hover {
  color: #0a58ca;
}

.GetinTouch {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
}

.GetinTouch:hover {
  color: #0a58ca;
}

.class5 {
  margin-left: 70px;
}

#followus5 {
  color: #b4b6bd;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
}

.linkedinicon {
  cursor: pointer;
}

.SubscribeUs {
  color: #b4b6bd;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
}

.lastinput {
  box-sizing: border-box;
  height: 61px;
  width: 20vw;
  border: 1px solid #979797;
  opacity: 0.34;
  border-radius: 5px 0 0 5px;
  padding: 5%;
  outline: none;
  font-size: 15px;
}

.submit {
  height: 61.7px;
  width: 4vw;
  border-radius: 0 5px 5px 0;
  background-color: #f4cf4e;
  padding: 5%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 800;
  margin-left: -5px;
  opacity: 0.5;
}

.end {
  display: flex;
  background-color: rgb(243, 242, 242);
  margin-top: 90px;
  height: 120px;
  margin-bottom: -10px;
}

.finaldiv {
  margin-left: 235px;
}
#usnumber {
  margin-top: 10px;
}
#indnumber {
  margin-top: -10px;
}

.number {
  margin-left: 50px;
}

#number1 {
  color: #0a58ca;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  cursor: pointer;
}

#number2 {
  color: #0a58ca;
  opacity: 1;
  margin-top: -16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  cursor: pointer;
}

#arr {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-left: 500px;
  letter-spacing: 0;
}

#terms {
  opacity: 0.39;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  cursor: pointer;
  margin-top: -15px;
  margin-left: 480px;
}

#terms:hover {
  opacity: 1;
}

@media only screen and (max-width: 1432px) {
  .center {
    margin-left: 5vw;
  }

  .grid {
    display: grid;
    grid-template-columns: 350px 350px 350px;
  }
  .finaldiv {
    margin-left: 10vw;
  }
  .submit {
    width: 4vw;
  }

  .class2 {
    margin-left: 40px;
  }
  .class3 {
    margin-left: 40px;
  }
  .class4 {
    margin-left: 40px;
  }
  .class5 {
    margin-left: 40px;
  }
  .lastinput {
    width: 15vw;
  }
}

@media only screen and (max-width: 1140px) {
  .dropdown {
    display: block;
  }

  .center {
    margin-top: 2vh;
    margin-left: 10.5vw;
  }

  .center2 {
    margin-top: -3vh;
    margin-left: 10.5vw;
  }

  .center3 {
    margin-top: -3vh;
    margin-left: 10.5vw;
  }

  .center4 {
    margin-top: -3vh;
    margin-left: 10.5vw;
  }

  .center5 {
    margin-top: -3vh;
    margin-left: 10.5vw;
  }

  .center6 {
    margin-top: 3vh;
    margin-left: 10.5vw;
  }

  .mainh1 {
    top: 350px;
  }

  .mainp {
    top: 500px;
  }

  .mainbutton {
    top: 600px;
  }

  .grid {
    grid-template-columns: 250px 250px 250px;
    margin-left: 80px;
  }

  .middleh1upper {
    margin-top: 80px;
  }

  .middleh1 {
    margin-left: -2vw;
  }

  .footer {
    display: block;
  }

  .footercolumnleft {
    margin-left: 10vw;
  }

  @keyframes footercolumnleft {
    from {
      opacity: 0;
      margin-left: 0px;
    }
    to {
      opacity: 1;
      margin-left: 10vw;
    }
  }

  .footer2 {
    margin-top: 60px;
  }

  .footerrightp {
    margin-left: -10vw;
  }

  .footerrighth6 {
    margin-left: -10vw;
  }

  .footerrightp2 {
    margin-left: -10vw;
  }

  .footerright2h6 {
    margin-left: -10vw;
  }

  .footerrightp3 {
    margin-left: -10vw;
  }

  .footerright3h6 {
    margin-left: -10vw;
  }

  .last {
    display: block;
    text-align: center;
    margin-left: 3.5vw;
  }

  #insights1 {
    margin-left: 3.5vw;
  }

  .ArtificialIntelligence {
    margin-left: 3vw;
  }

  .AR {
    margin-left: 3vw;
  }

  .BlockchainDevelopment {
    margin-left: 3vw;
  }

  .MachineLearning {
    margin-left: 3vw;
  }

  .lastinput {
    height: 50px;
    width: 250px;
    padding: 1%;
    font-size: 13px;
  }

  .submit {
    height: 50px;
    width: 50px;
    padding: 1%;
    font-size: 14px;
  }
  .finaldiv {
    margin-left: 100px;
  }
  .number {
    margin-left: 20px;
  }
  #arr {
    margin-left: 400px;
  }

  #terms {
    margin-left: 380px;
  }
}

@media only screen and (max-width: 500px) {
  .navimg {
    margin-left: 50px;
  }
  .dropdown {
    display: block;
  }

  .mainh1 {
    font-size: 28px;
    margin-left: 50px;
    margin-top: 150px;
  }

  @keyframes heading {
    from {
      opacity: 0;
      margin-left: 0px;
    }
    to {
      opacity: 1;
      margin-left: 50px;
    }
  }

  .mainp {
    font-size: 18px;
    margin-left: 50px;
    margin-top: 160px;
  }

  @keyframes pera {
    from {
      opacity: 0;
      margin-left: 0px;
    }
    to {
      opacity: 1;
      margin-left: 50px;
    }
  }

  .mainbutton {
    margin-top: 230px;
    margin-left: 50px;
  }

  @keyframes btn {
    from {
      opacity: 0;
      margin-left: 0px;
    }
    to {
      opacity: 1;
      margin-left: 50px;
    }
  }

  .grid {
    grid-template-columns: auto;
  }

  .column {
    border-right: 0px solid rgb(234, 234, 234);
    border-bottom: 0px solid lightgray;
  }
  .column2 {
    border-right: 0px solid rgb(234, 234, 234);
    border-bottom: 0px solid lightgray;
  }
  .column3 {
    border-bottom: 0px solid lightgray;
  }
  .column4 {
    border-right: 0px solid rgb(234, 234, 234);
  }
  .column5 {
    border-right: 0px solid rgb(234, 234, 234);
  }
  .middle {
    display: block;
    margin-left: 10px;
    height: 1000px;
  }
  .middlecolumn1 {
    width: 400px;
    height: 300px;
  }

  .middlecolumn1:hover {
    width: 400px;
  }
  .middlecolumn2 {
    width: 400px;
    height: 300px;
  }

  .middlecolumn2:hover {
    width: 400px;
  }

  .middlecolumn3 {
    width: 400px;
    height: 300px;
  }

  .middlecolumn3:hover {
    width: 400px;
  }
  .footercolumnleft {
    margin-left: 10vw;
    width: 60vw;
  }
  .footerlefth6 {
    width: 370px;
  }
  .footerlefth1 {
    width: 370px;
  }
  .footer2 {
    width: 200px;

    margin-left: 100px;
  }
  .footercolumnright {
    width: 300px;
  }
  .footerrighth6 {
    width: 400px;
  }

  .footercolumnright2 {
    width: 300px;
  }
  .footerright2h6 {
    width: 400px;
  }

  .footercolumnright3 {
    width: 300px;
  }
  .footerright3h6 {
    width: 400px;
  }

  .last {
    margin-left: -1vw;
  }

  .class2 {
    margin-left: 4vw;
  }

  .class3 {
    margin-left: 4vw;
  }

  .class4 {
    margin-left: 4vw;
  }

  .class5 {
    margin-left: 4vw;
  }

  .finaldiv {
    margin-left: 20px;
  }

  .number {
    margin-left: 30px;
  }

  #number1 {
    font-size: 10px;
    font-weight: 0;
  }

  #number2 {
    font-size: 10px;
    font-weight: 0;
  }

  #arr {
    font-size: 10px;
    margin-left: 93px;
  }

  #terms {
    font-size: 10px;
    margin-left: 80px;
  }

  #usnumber {
    margin-top: 15px;
    font-size: 12px;
  }
  #indnumber {
    font-size: 12px;
  }
  .mainimg {
    display: none;
  }
  .mainh1 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: 0px;
    margin-top: 8px;
    margin-left: 23px;
    max-width: 670px;
    line-height: 1.2em;
    animation-name: heading;
    animation-duration: 1.5s;
  }

  .mainp {
    position: relative;
    top: 0px;
    margin-top: 15px;
    margin-left: 23px;
    max-width: 450px;
    line-height: 1.8em;
    font-weight: 500;
    animation-name: pera;
    animation-duration: 1.5s;
  }
  .mainbutton {
    height: 55px;

    position: relative;
    top: 0px;
    margin-top: 80px;
    border: none;
    border-radius: 25.5px;
    background-color: #2d4195;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    margin-left: 23px;
    line-height: 50px;
    letter-spacing: 0.7px;
    outline: none;
    animation-name: btn;
    animation-duration: 1.5s;
  }
  @keyframes heading {
    from {
      opacity: 0;
      margin-left: 0px;
    }
    to {
      opacity: 1;
      margin-left: 23px;
    }
  }
  @keyframes pera {
    from {
      opacity: 0;
      margin-left: 0px;
    }
    to {
      opacity: 1;
      margin-left: 23px;
    }
  }
  @keyframes btn {
    from {
      opacity: 0;
      margin-left: 0px;
    }
    to {
      opacity: 1;
      margin-left: 23px;
    }
  }

  .mainh2p2 {
    margin-top: 150px;
  }
}
