* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  max-width: 100%;
}

/* -----header----- */

header {
  display: flex;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(104px);
  align-items: center;
  margin-top: 2vh;
}

/* -----header logo----- */
.header-logo {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  align-items: center;
}

header .header-logo span {
  font-size: 1vw;
  margin-top: -2vh;
}

/* -----header navbar----- */

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 50%;
  column-gap: 3vw;
}

/* -----header menu list----- */

nav ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 3vw;
  min-width: 35vw;
}

header nav ul li {
  list-style-type: none;
  font-size: 1.2vw;
}

header nav ul li a {
  text-decoration: none;
  color: #696969;
}

/* -----header menu list right side----- */

.header-middle {
  display: inline-flex;
  column-gap: 8vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 0.5vh;
}

.header-middle p {
  font-weight: 700;
  font-size: 1.2vw;
  padding: 1vh 0 0 0;
}

.header-middle :nth-child(2) {
  max-height: 1vw;
  padding: 1.5vh 0 0 0;
}

/* -----header right side----- */

.header-right {
  display: inline-flex;
  column-gap: 0.5vw;
  align-items: center;
  min-width: 20%;
  justify-content: flex-end;
}

.header-right :nth-child(1) {
  padding-right: 1.2vw;
  max-width: 2vw;
}

.header-right :nth-child(2) {
  max-width: 5vw;
}

.header-right :nth-child(3) {
  max-width: 2vw;
}

/* -----middle body----- */

.middle-body {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.middle-div {
  border: 1px solid black;
  min-width: 50vw;
}

.icons {
  position: absolute;
  left: 90vw;
  display: inline-flex;
  flex-direction: column;
  row-gap: 1.5rem;
  border-radius: 31.5px;
  padding: 3vh 0.8vw 3vh 0.8vw;
}

.middle-div h1 {
  margin-top: 4vh;
}

.middle-img {
  border: 1px solid black;
  margin-top: 4vh;
  background-image: url(images/background-img.png);
  min-width: 50vw;
  min-height: 18vh;
  border-radius: 22px 22px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  display: flex;
}

.cross {
  margin: 3vh 0vw 0vh 1vw;
}

.cross img {
  max-width: 16vw;
}

.middle-icons-right {
  display: inline-flex;
  column-gap: 1vw;
  margin: 3vh 2vw 0vh 0vw;
}

.group-icon img {
  max-width: 10vw;
}

.person-img {
  background: url(images/person-img.png);
  position: absolute;
  background-repeat: no-repeat;
  min-width: 50%;
  min-height: 50%;
  left: 46.5vw;
  top: 44vh;
}

.middle-content {
  max-width: 50vw;
  text-align: center;
  margin-top: 7vh;
}

.middle-content h1 {
  margin-top: 8vh;
  font-size: 3vw;
}

.middle-content p {
  margin-top: 1vh;
  font-size: 1.3vw;
}
