* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  max-width: 100%;
  background-color: aliceblue;
}

/* -----header----- */

header {
  display: flex;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(104px);
  align-items: center;
  padding-top: 2vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* -----header logo----- */
.header-logo {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  align-items: center;
}

header .header-logo span {
  font-size: 1vw;
  margin-top: -2vh;
}

/* -----header navbar----- */

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 50%;
  column-gap: 3vw;
}

/* -----header menu list----- */

nav ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 3vw;
  min-width: 35vw;
}

header nav ul li {
  list-style-type: none;
  font-size: 1.2vw;
}

header nav ul li a {
  text-decoration: none;
  color: #696969;
}

/* -----header menu list right side----- */

.header-middle {
  display: inline-flex;
  column-gap: 8vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 0.5vh;
}

.header-middle p {
  font-weight: 700;
  font-size: 1.2vw;
  padding: 1vh 0 0 0;
}

.header-middle :nth-child(2) {
  max-height: 1vw;
  padding: 1.5vh 0 0 0;
}

/* -----header right side----- */

.header-right {
  display: inline-flex;
  column-gap: 0.5vw;
  align-items: center;
  min-width: 20%;
  justify-content: flex-end;
}

.header-right :nth-child(1) {
  padding-right: 1.2vw;
  max-width: 2vw;
}

.header-right :nth-child(2) {
  max-width: 5vw;
}

.header-right :nth-child(3) {
  max-width: 2vw;
}

/* -----middle-body-1----- */

.middle-body {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

.middle-div {
  border: 1px solid #f4f1f1;
  background: #ffffff;
  border-radius: 26px;
  min-width: 50vw;
}

.icons {
  border: 1px solid rgba(84, 84, 84, 0.17);
  position: absolute;
  left: 90vw;
  display: inline-flex;
  flex-direction: column;
  row-gap: 1.5rem;
  border-radius: 31.5px;
  padding: 3vh 0.8vw 3vh 0.8vw;
}

.middle-div h1 {
  margin-top: 4vh;
}

.middle-img {
  margin-top: 4vh;
  background-image: url(images/background-img.png);
  min-width: 50vw;
  min-height: 18vh;
  border-radius: 22px 22px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  display: flex;
}

.cross {
  margin: 3vh 0vw 0vh 1vw;
}

.cross img {
  max-width: 16vw;
}

.middle-icons-right {
  display: inline-flex;
  column-gap: 1vw;
  margin: 3vh 2vw 0vh 0vw;
}

.group-icon img {
  max-width: 10vw;
}

.person-img {
  position: absolute;
  background-repeat: no-repeat;
  left: 47vw;
  top: 43.5vh;
}

.person-img img {
  max-width: 12vw;
}

.middle-content {
  max-width: 50vw;
  text-align: center;
  margin-top: 7vh;
}

.middle-content h1 {
  margin-top: 8vh;
  font-size: 3vw;
  margin-left: 0.6vw;
}

.middle-content p {
  margin-top: 1vh;
  font-size: 1.3vw;
}

.middle-content img {
  margin-top: 3vh;
  margin-left: 1vw;
  max-width: 15vw;
}

/* -----middle-body-2----- */

.final-body {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.final-div {
  border: 1px solid #f4f1f1;
  background: #ffffff;
  border-radius: 26px;
  min-width: 50%;
  padding: 6vh 0vw 6vh 0vw;
}

.final-div h1 {
  font-size: 1.5vw;
  padding: 0vh 0vw 0vh 2vw;
}

.div-1 {
  display: flex;
  padding: 6vh 2vw 5vh 2vw;
  column-gap: 5vw;
  box-sizing: border-box;
  border-bottom: 1px solid #f0f0f0;
}

.div-1 h4 {
  font-size: 1vw;
  transform: rotate(-0.07deg);
}

.div-1 a {
  text-decoration: none;
  font-size: 1vw;
  color: #4bb1dc;
  margin-left: 3.7vw;
}
.switch {
  position: relative;
  display: inline-block;
  width: 2.5vw;
  height: 3.5vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.div-2 {
  display: flex;
  padding: 5vh 0vw 5vh 2vw;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.div-2 h4 {
  font-size: 1vw;
  transform: rotate(-0.07deg);
}

.div-2 a {
  font-size: 1vw;
  color: #4bb1dc;
  text-decoration: none;
  margin-left: 4.2vw;
}

#box-img {
  max-width: 0.8vw;
  margin-left: 0.3vw;
}

#pen-img {
  max-width: 2.2vw;
  margin-left: 14.2vw;
}

.div-3 {
  display: flex;
  padding: 5vh 0vw 5vh 2vw;
  column-gap: 10.3vw;
  border-bottom: 1px solid #f0f0f0;
}

.div-3 h4 {
  font-size: 1vw;
  transform: rotate(-0.07deg);
}

.div-3 a {
  font-size: 1vw;
  color: #4bb1dc;
  text-decoration: none;
}

.div-4 {
  display: flex;
  padding: 5vh 0vw 5vh 2vw;
  column-gap: 7.6vw;
  border-bottom: 1px solid #f0f0f0;
}

.div-4 h4 {
  font-size: 1vw;
  transform: rotate(-0.07deg);
}

.div-4 p {
  font-size: 1vw;
  font-weight: 700;
  padding-top: 0.5vh;
}

#pen-img2 {
  max-width: 2.2vw;
  margin-left: 13.4vw;
}
